@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Ludo game</h1>

    <p>
        <a asp-page="Ludo/Index">Gameboard</a> <!-- temp, todo: remove -->
        <a asp-page="Ludo/New">New Game</a>
        <a asp-page="Ludo/Load">Load Game</a>
    </p>
</div>
<form>

</form>

