@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1>Ludo game</h1>

    <p>
        <a asp-page="Ludo/Index">Gameboard</a> <!-- temp, todo: remove -->
        <a asp-page="Ludo/New">New Game</a>
        <a asp-page="Ludo/Load">Load Game</a>
    </p>
</div>
<form>
</form>

<a asp-page="Ludo/Index" asp-route-id="5">Gameboard id: 5</a> <!-- temp, todo: remove -->

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>






